@use "sass:map";
@use "/src/styles/partials/variables" as vars;
@use "/src/styles/partials/mixins" as mix;
@use "/src/styles/partials/typography" as type;

.nav {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: map.get(vars.$colors, "background");
  border-top: 1px solid map.get(vars.$colors, "border");
  padding: map.get(vars.$spacing, "sm") 0;
  box-shadow: 0 -4px 6px rgba(map.get(vars.$colors, "primary"), 0.05);
  transition: all 0.3s ease;
  z-index: 10;

  &__list {
    @include mix.flex(row, space-around, center);
    max-width: 600px;
    margin: 0 auto;
  }

  &__item {
    @include mix.flex(row, center, center, map.get(vars.$spacing, "2xl"));
    color: map.get(vars.$colors, "text-light");
    position: relative;
    transition: all 0.3s ease;

    &:hover,
    &--active {
      color: map.get(vars.$colors, "primary");

      .nav__icon {
        transform: scale(1.1);
      }
    }
  }

  &__link {
    @include mix.flex(column, center, center, map.get(vars.$spacing, "xxs"));
    background: transparent;
    cursor: pointer;
    font-weight: map.get(type.$font-weights, "medium");
    letter-spacing: -0.025em;
    font-size: map.get(type.$font-sizes, "lg");
    color: inherit;
    transition: all 0.3s ease;
  }

  &__icon {
    width: 24px;
    height: 24px;
    transition: transform 0.3s ease;
  }
}
